

  <div class="container ml-4">
    
  <div class="card border-info text-center mb-3" style="height:10rem; width:30rem;">

    <%if @blog.image.attached? %>
        <%= image_tag(@blog.image ,:class => "img-responsive") %>
    <% end %>
      <div class="card-body">
        <h3 class="card-title"><%= @blog.try(:title) %></h3>
        <p class="card-text"><%= @blog.try(:body) %></p>
        <p class="card-text"><%= @blog.try(:created_at) %></p>
        <p class="card-text"><%= @blog.try(:category_id) %></p>
       
        <%= link_to 'Back', blogs_path,class:"btn btn-secondary"  %>

       
      <% if (user_signed_in? && current_user == @blog.user) %>
        <%= link_to 'Edit', edit_blog_path(@blog),class:"btn btn-secondary"%>
        <%= link_to 'Destroy', @blog, method: :delete,class:" btn btn-secondary",data: { confirm: 'Are you sure?' } %>
      <% end %> 
      </div>
   
  </div>
</div>





